.coberturas-column {

}

.coberturas-column-1 {
  width: 70%;
  p {
    hyphens: auto;
    color: rgb(102, 85, 79);
    font-size: 100%;
    text-align: center;
    }
  img {
      width: 80%;
      display: block;
      margin: 0 auto;
    }

  }

.coberturas-column-2 {
    width: 70%;
  p {
    hyphens: auto;
    color: rgb(102, 85, 79);
    font-size: 100%;
    text-align: center;
  }
  img {
    width: 80%;
  }
}

.coberturas-column-3 {
  width: 70%;
  p {
    hyphens: auto;
    color: rgb(102, 85, 79);
    font-size: 100%;
    text-align: center;
  }
  img {
    width: 80%;
  }
}

@media screen and (max-width: 596px) {
    .coberturas-column-1 {
      img {
          width: 40% !important;
          margin: 0 auto !important;
        }

      }
    .coberturas-column-2 {
      img {
          width: 40% !important;
          margin: 0 auto !important;
        }
      }
    .coberturas-column-3 {
      img {
          width: 40% !important;
          margin: 0 auto !important;
        }
        }
  }

@media only screen and (max-width: 620px){
  .coberturas-column-1 {
    img {
        width: 60% !important;
        margin: 0 auto !important;

      }
    }
    .coberturas-column-2 {
      img {
          width: 60% !important;
          margin: 0 auto !important;
        }
      }
    .coberturas-column-3 {
      img {
          width: 60% !important;
          margin: 0 auto !important;
        }
      }
}

table.button.boton-gris table {
  td {
    //background
    background: grey !important;
  }
  a {
    //color del texto
  }
}
