// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

li{
  hyphens: none;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.hero{
  background-repeat: no-repeat;
}

.hero-image-am{
  padding-top: 20px;
  padding-bottom: 20px;
}

h1{
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  hyphens: none;
}
h2{
  font-size: 20px;
  hyphens: none;
}
.wrapper.secondary {
  th{
    padding: 0;
  }
}
.header{
  background: $background-color;
  p{
    font-size: 9px;
    color: $dark-gray;
  }
  th{
    padding: 0;
    padding-bottom: 0;
  }
}
.beneficio{
  p{
    font-size: 15px;
    text-align: left;
    hyphens: none;
    margin-bottom: 0;
    height: 5.5em;
  }
}

.beneficio-link{
  font-size: 14px;
}

.beneficios-logo{
  margin-bottom: 15px;
  height: 53px;
}

.footer{
  .row{
    background: $light-gray;
  }

  p{
    text-align: justify;
    font-size: 10px;
  }

  p.text-center{
    text-align: center;

  }
}

.promo {
  background-image: url("https://content.baccredomatic.com/es-cr/mailing/com/is16/cr-correo-omas-hero-promo.jpg");
}

.texto-promo {
  h1 {
    font-size: 16px;
    text-align: left;
    color: $brown;
    font-weight: bold;
  }
  h2 {
    font-size: 11px;
    font-weight: bold;
  }
  ul {
    font-size: 10px;
  }
  p {
    font-size: 8px;
  }
}

.adicional{
  h2{
    color: $salmon;
  }
  ul{
    margin: 0;
  }
}
.adicional-list{
  th{
    vertical-align: middle;
  }
}
.servicio{
  border: solid 4px #fff;
  background: $light-gray;
  padding-top: 10px;
  text-align: center;
  p{
    height: 5em;
    font-size: 13px;
    text-align: left;
  }
  th{
    text-align: center;
    img{
      display: inline-block;
      margin-bottom: 10px;
      max-width: 100%;
    }
  }
}

h2{
  color: $brown;
  margin-bottom: 0;
  font-weight: bold;
}
.subject{
  font-size: 11px;
}

.hero_image{
  background-repeat: no-repeat;
  background-position: top center;
  th{
    padding-bottom: 5px;
  }
}

.hero_image_am{
  img{
    text-align: right;
    height: auto;
  }
}

.hero_text{
  h1 {
  display: inline-block;
  text-align: left;
  color: white;
  font-size: 2em;
  line-height: 30px;
  text-shadow: 2px 2px 5px black;
  }
  h2 {
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px black;
  }
}

.text-red{
  color: $salmon;
}
.text-brown{
  color: $brown;
}
p{
  color: $secondary-color;
  hyphens: none;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.contactos{
  p{
    color: $medium-gray;
  }
  a{
    color: $medium-gray;
    font-size: 12px;
    &:hover{
      color: darken($medium-gray, 10%);
      text-decoration: underline;
    }
  }
}

.tarjeta-auto {
  text-align: right;

}

.logo-header{
  th{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
hr{
  border-top: 1px solid $medium-gray;
}
.version-web-link{
  text-align: right;
}
.aprovecha{
  text-align:right;
}

.tarjetas-izq{
  img, th{
    text-align: right;
  }
  img{
    display: inline;
  }
  h2{
    text-align: right;
    color: $dark-gray;
    font-family: Helvetica, Arial;
    font-size: 0.9em;
  }
  h3{
    font-family: Helvetica, Arial;
    font-size: 0.9em;
    font-weight: bold;
    color: $dark-gray;
    text-align: right;
  }
  p{
    text-align: right;
  }

}

.tarjetas-der{
  h2{
  color: $brown;
  font-family: Helvetica, Arial;
  font-size: 1.2em;
  }
  h3{
  color: $brown;
  font-family: Helvetica, Arial;
  font-size: 0.9em;
  font-weight: bold;
  }
  p{
  color: $brown;
  }
  img{
    width: 110%;
    height: auto;
  }

}


.explicacion-title{
  h2{
    font-family: Helvetica;
    font-size: 1.3em;
    color: white;
    text-shadow: 2px 2px 4px black;
}
}

.explicacion-p{
  p{
    font-family: Helvetica;
    font-size: 0.8em;
    color: white;
  }
  }

.hero-seguro-viajero-marzo {
  background: url(https://content.baccredomatic.com/es-cr/mailing/com/is16/03DAsegurosviajetranquilo0617-desktop.png);
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 40px;

  h1 {
    color: #fff;
    font-size: 3em;
    font-style: italic;
    margin: 0;
    text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
  }

  h3 {
    color: #fff;
    font-size: 1.8em;
    font-style: italic;
    margin: 0;
    text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
  }

  &.b-version{
    background: url(https://content.baccredomatic.com/es-cr/mailing/com/is16/03DAsegurosviajetranquilo0617-desktopb.png);
    background-repeat: no-repeat;
    background-position: top center;
    h3{
      font-size: 1.4em;
    }
    ul{
      margin: 5px 0;
      padding-left: 20px;
    }
    li{
      color: #fff;
      text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
    }
  }

}

@media screen and (max-width: 596px) {
  .version-web-link{
    text-align: left !important;
  }
  table.button.large table a{
    font-size: 17px!important;
  }
  .text-red, .center-mobile{
    text-align: center !important;
  }
  .aprovecha{
    text-align: left !important;
  }

  .hero_image{
    background-image: url(https://content.baccredomatic.com/es-cr/mailing/com/is16/cr-correo-automercado-10puntosmas-mobile.png) !important;
    margin-bottom: 20px !important;
    h1{
      font-size: 1.5em !important;
    }
    h2{
      font-size: 1.2em !important;
    }
  }
  h1.text-brown{
    font-size: 1.2em !important;
  }
  .tarjetas-der h2{
    font-size: 1em !important;
  }
  .background-row-boton{
    background-image: url(https://content.baccredomatic.com/es-cr/mailing/com/is16/cr-correo-automercado-background-row-mobile.png)
     !important;
    background-position: left top;
    h2{
      font-size: 1.05em !important;
      padding-right: 15px !important;
      hyphens: none !important;
    }
    p{
      font-size: 0.8em !important;
    }
  }

  table.button.large.button-mobile table a{
    font-size: 0.9em !important;
    text-align: center !important;
  }
  .hero-seguro-viajero-marzo {

    h1 {
      font-size: 2em !important;
    }

    h3 {
      font-size: 1.2em !important;
    }
  }
}
@media only screen and (max-width: 620px){
  table.body .columns.hero_image_am, table.body .columns.hero_text, table.body .tarjetas .columns, table.body .hero-seguro-viajero-marzo .columns{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
