// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,

.body {
  background: #f3f3f3;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

p {
  color: #444756;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  }

li{
  hyphens: none;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

// Subject Text

.subject{
  font-size: 11px;
}

// Heros

.hero{
  background-repeat: no-repeat;
}

.hero-image-am{
  padding-top: 20px;
  padding-bottom: 20px;
}

h1{
  font-size: 24px;
  font-weight: 700;
  hyphens: none;
}
h2{
  font-size: 20px;
  hyphens: none;
}
.wrapper.secondary {
  th{
    padding: 0;
  }
}
.header{
  background: $background-color;
  p{
    font-size: 9px;
    color: $dark-gray;
  }
  th{
    padding: 0;
    padding-bottom: 0;
  }
}

.hero_image{
  background-repeat: no-repeat;
  background-position: top center;
  th{
    padding-bottom: 5px;
  }
}

.hero_image_am{
  img{
    text-align: right;
    height: auto;
  }
}

.hero_text{
  h1 {
  display: inline-block;
  text-align: left;
  color: white;
  font-size: 2em;
  line-height: 30px;
  text-shadow: 2px 2px 5px black;
  }
  h2 {
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px black;
  }
}

// ------ Starts Hero Seguro Viajero 20 Abril ------ //

.hero-seguro-viajero-marzo {
  background: url(https://content.baccredomatic.com/es-cr/mailing/com/2x16/06dasegurosviajetranquilo042017-desktop.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 30px;
  h1 {
    color: #fff;
    font-size: 3em;
    font-style: italic;
    margin: 0;
    text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
  }

  h3 {
    color: #fff;
    font-size: 1.8em;
    font-style: italic;
    margin: 0;
    text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
  }
  &.b-version{
    background: url(../assets/img/06dasegurosviajetranquilo0617-desktop.png);
    background-repeat: no-repeat;
    background-position: top center;
    h3{
      font-size: 1.4em;
    }
    ul{
      margin: 5px 0;
      padding-left: 20px;
    }
    li{
      color: #fff;
      text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
    }
  }
}




// ------ Starts Hero Correo BLUE Amex ------ //

.hero-tarjetablue {
  background: url(https://content.baccredomatic.com/es-cr/mailing/com/2x16/hero_correo_amex_abril_20_2017.png);
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 30px;
    h1 {
      color: #fff;
      font-size: 3em;
      font-style: italic;
      margin: 0;
      text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
      }

    h3 {
      color: #fff;
      font-size: 1.8em;
      font-style: italic;
      margin: 0;
      text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
      }
  }


// ------ Starts Hero Correo Pre Aprobadas  ------ //

.hero-preaprobadas {
  background: url(https://content.baccredomatic.com/es-cr/mailing/com/2x16/hero-preaprobadas.gif);
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 30px;
    h1 {
      color: #fff;
      font-size: 0.8em;
      margin: 0;
      text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
      }

    h3 {
      color: #fff;
      font-size: 0.8em;
      hyphens: none;
      margin: 0;
      text-shadow: 2px 2px 2px rgba(1, 1, 1, .4);
      }
  }





// ------ Content Styles

.logo-header{
  th{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
hr{
  border-top: 1px solid $medium-gray;
}
.version-web-link{
  text-align: right;
}
.aprovecha{
  text-align:right;
}

.explicacion-title{
  h2{
    font-family: Helvetica;
    font-size: 1.3em;
    color: white;
    text-shadow: 2px 2px 4px black;
    }
}

.explicacion-p{
  p{
    font-family: Helvetica;
    font-size: 0.8em;
    color: white;
    }
  }

.coberturas-column-1 {
  width: 70%;
  p {
    hyphens: auto;
    color: black;
    font-size: 100%;
    text-align: center;
    }
  img {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }

.coberturas-column-2 {
    width: 70%;
  p {
    hyphens: auto;
    color: black;
    font-size: 100%;
    text-align: center;
  }
  img {
    width: 80%;
  }
  }

.coberturas-column-3 {
  width: 70%;
  p {
    hyphens: auto;
    color: $dark-gray;
    font-size: 100%;
    text-align: center;
  }
  img {
    width: 80%;
  }
  }


// ------ Starts Content Correo Tarjeta BLUE Amex ------ //

.titulo-blue {
  h1 {
    color: #2C8CBF;
    font-size: 1.2em;
  }
  h2 {
    color: #2C8CBF;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
}
.industrias-blue {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}



// ------ Footer Logo BAC | CREDOMATIC ------ //

.footer{
  .row{
    background: $light-gray;
  }
  p{
    text-align: justify;
    font-size: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }

  p.text-center{
    text-align: center;
  }
  p.text-justify{
    text-align: justify;;
  }
}

// ------ Starts Content Correo Pre Aprobadas ------ //

.titulo-preaprobadas {
  img {
    float: left;
    text-align: left;
    width: 30%;
    margin-right: 1.1em;
    padding-bottom: 1em;
    }

  h1 {
    color: #444756;
    font-size: 1em;
    margin-left: 0.3em;
    }
  }

.titulo-categorias {
  h2 {
    color: #2C8CBF;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }
  }
.tarjetas-pre {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.beneficios-right {
  margin-left: auto;
  margin-right: auto;
}

.beneficios-left {
  margin-left: auto;
  margin-right: auto;
}
.button {
  text-shadow: 2px 2px 2px rgba(1, 1, 1, .4);
}

// ------ Starts Hero Correo Adicionales  ------ //

.hero-adicionales {
  background: url(https://content.baccredomatic.com/es-cr/mailing/com/2x16/cr-correo-adicionales-hero.png);
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 30px;
    h1 {
      color: #fff;
      font-size: 0.8em;
      margin: 0;
      text-shadow: 3px 3px 2px rgba(1, 1, 1, .4);
      }

    h3 {
      color: #fff;
      font-size: 0.8em;
      hyphens: none;
      margin: 0;
      text-shadow: 2px 2px 2px rgba(1, 1, 1, .4);
      }
  }

.titulo-adicionales{
h2 {
    color: #52AF5E;
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
    text-align: center;
    }
    }

span {
font-size: 1.2em;
}

li {
  line-height: 1.8em;
  img{
    display: inline-block;
    margin-right: 10px;
    height: 80%;
  }
}

// ------ Starts Content Correo Adicionales ------ //

.titulo-adicionales-tarjeta {
  img {
    display: inline-block;
    float: left;
    text-align: left;
    margin-right: 1.1em;
    padding-bottom: 1em;

    }

  h1 {
    color: #444756;
    font-size: 1em;
    margin-left: 0.3em;
    }
}

.beneficios-adicionales {
  li{
  margin-left: 0 !important;
  line-height: 0.4em;
  }
}


// ------ Texto Legal

.contacto {
  text-align: center;
  font-size: 1em;
  hyphens: none;
  span {
    color: #2C8CBF;
  }
}

.text-legal-2 {
  text-align: center;
  font-size: 0.6em;
  hyphens: none;
}



// ------ Media Queries ------ //

// ------ Max-width 596px

@media screen and (max-width: 596px) {
  .version-web-link{
    text-align: left !important;
  }
  table.button.large table a{
    font-size: 1.4em !important;
    text-align: center !important;
  }
  .text-red, .center-mobile{
    text-align: center !important;
  }
  .aprovecha{
    text-align: left !important;
  }

  table.button.large.button-mobile table a{
    font-size: 1.8em !important;
    text-align: center !important;
  }
  .hero-seguro-viajero-marzo {
      h1 {
        font-size: 2em !important;
      }

      h3 {
        font-size: 1.5em !important;
      }
  }
  .coberturas-column-1 {
    img {
        width: 40% !important;
        margin: 0 auto !important;
      }
    }
  .coberturas-column-2 {
    img {
        width: 40% !important;
        margin: 0 auto !important;
      }
    }
  .coberturas-column-3 {
    img {
        width: 40% !important;
        margin: 0 auto !important;
      }
      }
  .industrias-blue {
    padding-bottom: 0 !important;
    ol {
      margin: 0;
      padding-top: 0;
      margin-bottom: 0.4em;
    }
  }
  .beneficios-left {
    padding-bottom: 1.5em !important;
    padding-right: 1em !important;
   }
  .beneficios-right {
    padding-bottom: 1.5em !important;
    padding-left: 1em !important;
      }
  }

  // ------ Correo Pre Aprobadas - Max-width 596px
.titulo-preaprobadas {
      text-align: center !important;
      margin: 0 !important;
      padding-top: 0 !important;
      img{
        width: 50% !important;
      }
    }

    // ------ Correo adicionales - Max-width 596px
.titulo-adicionales-tarjeta {
        text-align: center !important;
        margin: 0 !important;
        padding-top: 0 !important;
        img{
          width: 50% !important;
        }
      }
.beneficios-left {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
li {
  margin-right: 1.1em;
}

// ------ Max-width 620px

@media only screen and (max-width: 620px){

  .coberturas-column-1 {
    img {
        width: 60% !important;
        margin: 0 auto !important;

      }
    }
    .coberturas-column-2 {
      img {
          width: 60% !important;
          margin: 0 auto !important;
        }
      }
    .coberturas-column-3 {
      img {
          width: 60% !important;
          margin: 0 auto !important;
        }
      }

// ------ Correo adicionales - Max-width 620px
  .beneficios-adicionales {
              padding-left: 0 !important;
              padding-right: 0 !important;
            }
}

table.button.boton-gris table {
  td {
    //background
    background: grey !important;
  }
  a {
    //color del texto
  }
}
