<row class="hero_image background-row-boton" style="background-image: url(/assets/img/{{background_row_image}}); background-position-y: 20px;">

  <columns>

    <row>
      <columns>
        <center>
          <button href="{{cta}}" class="large radius button-mobile">Solicitá tu tarjeta en línea</button>
        </center>
      </columns>
    </row>

    <row>
      <columns class="explicacion-title" small="6" large="6">
        <h2>¿Qué es la Tarjeta<br>Auto Mercado<br> American Express®<br>de Credomatic?</h2>
      </columns>
      <columns class="explicacion-p" small="6" large="6">
        <p>Es la tarjeta que acumula Puntos Auto Frecuente de forma acelerada cuando comprás en Auto Mercado,Vindi y el resto de comercios. Sumás 10 Puntos por cada 300 colones en las compras realizadas exclusivamente en Auto Mercado y Vindi.</p>
      </columns>
    </row>
    <spacer size="30"></spacer>
  </columns>



</row>
