<wrapper class="footer">
  <container>
    <row>
      <columns>
        <spacer size="30"></spacer>
        <center>
          <img src="https://content.baccredomatic.com/es-cr/mailing/com/is16/12DA_seguro_viajero_2016_logo.png" alt="Bac | Credomatic" />
        </center>
      </columns>
    </row>
    <row class="collapse">
      <columns>
        <p class="text-center">¿Alguna duda o consulta? Escribinos a <a href="mailto:seguros@baccredomatic.com">tarjetas@baccredomatic.com</a></p>
        <p>Si no deseás recibir más información o promociones en el futuro a través de esta vía, envianos un email para darte de baja en el servicio a la dirección <a href="mailto:remover@credomatic.com">remover@credomatic.com</a> con la palabra "remover" en el asunto incluyendo tu nombre completo y tu número de cédula y serás excluido en los próximos 15 días.</p>
      </columns>
    </row>
  </container>
</wrapper>
