<wrapper class="footer">
  <container>
    <row class="collapse">
      <columns>
        <spacer size="20"></spacer>
        <p class="text-center">¿Alguna duda o consulta? Escribinos a <a href="mailto:prestamospersonales@credomatic.com">prestamospersonales@credomatic.com</a></p>
        <p><sup>*</sup>Aplican restricciones. Sujeto a verificación crediticia al momento de su solicitud.</p>
        <p>Si no deseás recibir más información o promociones en el futuro a través de esta vía, envianos un email para darte de baja en el servicio a la dirección <a href="mailto:remover@credomatic.com">remover@credomatic.com</a> con la palabra "remover" en el asunto incluyendo tu nombre completo y tu número de cédula y serás excluido en los próximos 15 días.</p>
        <p>* Ver condiciones y restricciones en <a href="https://www.baccredomatic.com"> www.baccredomatic.com </a> </p.>
      </columns>
    </row>
  </container>
</wrapper>
