<row class="collapse header">
  <columns small="12" large="8">
    <spacer size="5"></spacer>
    <p>{{subject}}</p>
  </columns>
  <columns small="12" large="4">
    <spacer size="4"></spacer>
    <p class="version-web-link">¿No podés ver este correo? <a href="https://content.baccredomatic.com/es-cr/mailing/com/2x16/{{filename}}.html" target="_blank">Hacé click aquí</a></p>
  </columns>
</row>
<row class="logo-header">
  <columns>
    <center>
      <img src="https://content.baccredomatic.com/es-cr/mailing/com/is16/12DA_seguro_viajero_2016_logo.png" alt="Bac | Credomatic" />
    </center>
  </columns>
</row>
